<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="register">
    <h2 class="register__title" >Регистрация</h2>
    <form class="register__form" th:action="@{/register}" th:object="${user}" method="post">
        <label for="email">Email
            <input type="text" id="email" name="email" th:field="*{email}" required>
        </label>
        <label for="fullName">ФИО:
            <input type="text" id="fullName" name="fullName" th:field="*{fullName}" required>
        </label>
        <label for="password">Пароль:
            <input type="password" id="password" name="password" th:field="*{password}" required>
        </label>
        <button type="submit" class="login__form-button button">Зарегистрироваться</button>
    </form>
    <div class="register_buttons">
        <a href="/login" class="button">Login</a>
        <a href="/" class="button">На главную</a>
    </div>

</div>
</body>
</html>